[2017-08-14 19:27] mjadczak opened #10 "Crash on concurrent access of resources"
I'm using stripe-mock to run a test suite for a Stripe client library for Elixir. I only just realised that stripe-mock responds based on fixtures and does not keep internal state, and so I switched the test suite over to be asynchronous, such that many tests can execute at a time.

However, it seems that stripe-mock cannot handle concurrent access right now. [Here is the output](https://gist.gith

[2017-08-14 23:19] brandur-stripe commented on #10
Oh no! Good concurrency is the whole point of using something like Go.

Thanks for filing. It looks like the fix should be pretty straightforward. I'll look into it.

[2017-08-15 02:19] brandur-stripe commented on #10
Alright, I've got a good handle on this problem, and am quite embarrassed at how amateur it was :) I'm going to try and write a few regression tests, but I should have a fix out by tomorrow.

[2017-08-15 12:35] jcxplorer opened #11 "Using as a library"
Are there any plans to make it possible to use this as a library in a Go project? Would be fantastic to be able to launch the HTTP server in tests.

Only had a quick look through the code, but it seemed like exporting the StubServer fields might even be enough to achieve this?

[2017-08-15 15:28] brandur-stripe commented on #11
I thought about it, but punted for now just because I was mostly running it from other languages. It's good to know there's demand though! I'll see what I can do.

[2017-08-15 16:47] #10 closed

[2017-08-15 16:48] brandur-stripe commented on #10
Shipped a fixed version as 0.1.16.

[2017-09-05 12:32] mzdemezer opened #16 "Support for error tokens, webhooks and mocked checkout"
I work as ruby programmer and I really like the concept of this project. It is great that an _official_ solution like this has emerged. Also, it is fantastic, that one line - changing `Stripe.api_base` - is enough to run test suite in ruby with the mock server.

However, there are some aspects that refrain me from using it for tests.

The first one is lack of support for [error tokens](https://str

[2017-09-11 15:50] brandur-stripe commented on #16
Hi Michał, thanks for trying this out and for the detailed feedback!

Unfortunately, I don't think I'm going to get to this immediately, but I agree on all counts, and our goal here will be to make stripe-mock as comprehensive as possible for the purposes of exercising a Stripe integration. For now, I'm going to label this issue with "future", and we'll circle back around when we get a chance.

[2017-09-11 16:01] jedi1156 commented on #16
Of course :)
Thank you for answering :) Good luck!

[2017-09-14 16:12] JackWink opened #19 "App State"
Curious if there are any plans to implement some form of state in stripe-mock. I tried to switch over to using stripe-mock in our test suite, but had to revert once I realized creating tokens then retrieving them would return different data, i.e. card tokens turned into bank accounts when fetched.

I'd be happy to contribute, but I figure keeping state probably requires some discussion about the d

[2017-09-14 22:47] brandur-stripe commented on #19
Hi Jack, great question!

I'd definitely thought about this before — I don't think we'd want to go too far into trying to reproduce the API's behavior, but it does seem like at the very least it would be nice if stripe-mock could remember which IDs it'd generated already (and generate unique IDs for new objects so it's not just the same one everytime) and then be able to look them for subsequent r

[2017-09-19 18:14] brandur-stripe commented on #11
Thinking about this one a bit more — I think it's a good idea to provide this, but we should aim to export as small of an interface as possible so that we can enable future changes.

Maybe something like this:

[code]

The bundled OpenAPI spec and fixtures are always used.

We're putting through a fairly major refactor to put this project onto OpenAPI 3.0 right now, but we should look into tacklin

[2017-10-03 08:13] ruudk opened #22 "Panic when running with custom fixtures specified"
[code]

When I run `stripe-mock` with `-fixtures ~/fixtures3.yaml -spec ~/spec3.yaml` the server starts. The fixtures3.yaml and spec3.yaml are from https://raw.githubusercontent.com/stripe/openapi/5f2f0e245c07c918cca185902aceffc64a0b1957/openapi/fixtures3.yaml and https://raw.githubusercontent.com/stripe/openapi/5f2f0e245c07c918cca185902aceffc64a0b1957/openapi/spec3.yaml

But when I do

[code]

th

[2017-10-03 08:19] ruudk commented on #22
Just checked, it works with JSON. So I'll use that.

[2017-10-03 14:02] brandur-stripe commented on #22
@ruudk Thanks for logging! I'll take a look.

Just OOC, you saw that if you don't specify either `-fixture` or `-spec` it'll just use the default spec/fixtures that are bundled into the executable right? Unless you're trying to accomplish something specific, this might be the easier path for you.

[2017-10-03 15:13] ruudk commented on #22
@brandur-stripe Yep, but i wanted to change some responses. Then I found out that it didn't work as expected.

[2017-10-03 15:57] brandur-stripe commented on #22
Alright, it turns out that this one comes from https://github.com/go-yaml/yaml/issues/139. We have a fix coming in #23 to address the problem.

[2017-10-03 17:22] #22 closed

[2017-10-03 17:24] brandur-stripe commented on #22
@ruudk A fix has been released in v0.2.1.

[2017-10-03 19:55] ruudk commented on #22
Wow, :zap: super fast! Thanks!

[2017-10-12 21:50] mikker opened #24 "BalanceTransaction doesn't return application fee"
As the title says I'm getting no `application_fee` in my returned balance transaction when using

[code]

[2017-10-12 22:01] mikker commented on #24
I might've misunderstood the purpose of this project. It isn't supposed to be used as a "mock backend" for my app is it?

[2017-10-12 22:02] brandur-stripe commented on #24
Thanks for logging @mikker!

As a quick note: stripe-mock is currently quite stupid when it comes to actual Stripe domain logic. It would seem intuitive that if you passed an `application_fee` on the way in, then you'd get that same `application_fee` on the response, but in fact what's happening is that it always just uses a pre-defined fixture for _every_ response and adds any extra required fiel

[2017-10-12 22:17] mikker commented on #24
I see. Makes sense – copying all the logic behind the requests as well as the interface would undeniably increase the scope _a bit_.

I'll keep my test suite as is for now 😄 Thanks!

[2017-10-12 22:17] #24 closed

[2017-10-12 22:21] mikker commented on #19
Could probably also return easily copyable attributes like `amount` from the request to the response.

Of course, as soon as you step into not being completely ignorant in what you return you get into a weird grey area of where to draw the line between what's remembered and what isn't.

[2017-10-16 18:58] brandur-stripe opened #25 "Maintain a cache of idempotency keys and check for reuse"
It would be nice if stripe-mock maintained a set of recently used idempotency keys to detect when a client tries to reuse a key with different parameters. In those cases we could reject the request just like the real Stripe API would do. (Keys would be evicted from the cache after some period of time so that it doesn't grow in an unbounded way.)

This would have caught the problem in https://githu

[2017-10-22 16:24] RobertLowe commented on #19
Yea, this is kind of useless for black box testing in our apps without some degree of persistence (in memory is probably fine). It's not reasonable to use static fixtures. It's also a bit difficult to rely on a single testing key as our devs and environments would each need a fictitious stripe account for unique secret keys as not to clash (which is probably what we'll consider).

Additionally whi

[2017-10-23 15:06] brandur-stripe commented on #19
I agree that stripe-mock doesn't have sufficient intelligence today, but I'm also wary of swinging too far the other way. If we try to produce something that behaves comparably to the real API we run the risk of it being subtilely incompatible to the point where people can largely rely on it in testing, but then deploy their code and see that it doesn't work in some unexpected way.

There's always

[2017-10-23 15:43] RobertLowe commented on #19
I'll make another suggestion, it would be useful if you could manage multiple test environment keys under the live test mode. And additionally perhaps an API call to reset test data.

Cheers, thanks. 👍

[2017-10-23 17:29] brandur-stripe commented on #19
Yeah, coincidentally we had a conversation about this very recently. Unfortunately resetting test data is unlikely anytime soon — unfortunately removing test data is complicated to implement well. We could make it fine for small accounts, but accounts with large data sets are really problematic for our implementation (you can observe this today if you try to delete data via the Dashboard page and

[2017-10-24 20:28] bradobro opened #26 "Fix build"
Hey Stripe,

We're going to find this very useful. We need to do a few custom things on a fork.

I'm getting a lot of failures on `make test`:

[code]

I'm glad to PR the fix if you advise me how you want it.

[2017-10-25 12:12] brandur-stripe commented on #26
Thanks for reporting Brad! Our bad for not noticing this sooner.

@tmaxwell-stripe Most of the failures seem to be related to briging in sources. Do you know if we ended up generating equivalently valid fixtures for the new sources detail that we brought in?

[2017-10-25 13:55] bradobro commented on #26
I don't @brandur-stripe--unfortunately, we're behind on our Stripe API versions. We're hoping to use stripe-mock to help us make those transitions a bit less frightening!

You can see some of the gyrations we're taking on our fork, [kindrid/stripe-mock](https://github.com/kindrid/stripe-mock).

[2017-10-25 16:47] tmaxwell-stripe commented on #26
The `object property 'refund_address' is required` failures seems to be caused by an error in the OpenAPI spec; that field shouldn't actually be marked as required. (We have an internal script that generates the spec, so we'll need to update the script to correctly calculate which fields are required.)

[2017-10-25 19:35] brandur-stripe commented on #26
@bradobro Ah no problem! I was asking Tim here — he's been working on this recently and would have the best idea on how to proceed.

Nice! We're hoping to find some new users here, so definitely looking forward to supporting you how we can.

@tmaxwell-stripe Thanks! Do you think this would be a small enough fix that you could plausibly take a stab during run this week? It'd be nice to get stripe-m

[2017-10-25 19:48] bradobro commented on #26
Great @tmaxwell-stripe. Any chance you can generate OpenAPI specs for the major versions back to 2015-10-16?

[2017-10-25 19:49] brandur-stripe commented on #26
We've been playing with this idea and how it might be possible, but we don't have great infrastructure for it right now. I think it's doable, but unlikely to be prioritized anytime soon. Sorry!

[2017-10-25 19:52] bradobro commented on #26
I get it @brandur-stripe. Thanks. We often have to give the same answer.

[2017-10-27 23:13] #26 closed

[2017-10-27 23:16] brandur-stripe commented on #26
@tmaxwell-stripe's kindly fixed this one and the test suite should be green once again. Let us know if you run into any more trouble! Thanks.

[2017-11-02 20:29] travisjeffery opened #30 "Metadata doesn't work?"
Seems creating resources with metadata doesn't (or at least every one I've tried).

See these logs for instance:

[code]

[2017-11-02 21:49] brandur-stripe commented on #30
Hey Travis, thanks for trying things out!

I don't think the README is clear enough on this, but currently the responses that you get from stripe-mock don't have much to do with the requests that you sent in: it does request validation, and as long as a request looks okay, it responds with a bundled fixture for the appropriate resource.

We're thinking of producing a "stateful" model where stripe-

[2017-11-02 21:52] travisjeffery commented on #30
Ah, ok. Yeah I assumed it doing some kind of persistence already. Thanks for quick response.

[2017-11-02 21:52] #30 closed

[2017-11-11 15:26] remi-stripe opened #31 "Return properly formatted JSON response for errors"
At the moment, stripe-mock returns a string instead of a valid JSON payload when an invalid Authorization header is sent. Similar issues happen when you have an invalid URL such as `/v1/test`.

What the API does today

[code]

What stripe-mock does today:
[code]

The issue lives in `server.go` around [here](https://github.com/stripe/stripe-mock/blob/cc3797a0c73e1845f56f4f25d434325dfb5f41ca/server.

[2017-11-12 08:01] brandur-stripe commented on #31
Yep, this one's on me :/ I didn't need error responses for anything, so I ended up focusing on other things.

The good news is that this should be quite trivial to fix.

[2017-11-12 15:58] remi-stripe commented on #31
@brandur-stripe You were right it wasn't that hard! Hopefully the fix I pushed is the right approach but happy to hear otherwise. I've asked @tmaxwell-stripe to review as you're going on vacation! This one is not crazy urgent either as we can work around the limitation in the test suite(s) for now.

[2017-11-16 11:39] dmgawel opened #33 "License"
Hi,

I consider borrowing stripe-mock hack for yaml parsing (`mapstr.go`) for open source project but unfortunately stripe-mock does not have any license. I want to make sure it's OK and follows your intentions. Could you please consider adding a license?

[2017-11-21 00:37] snewcomer opened #34 "Linux install not working based on README"
I followed the directions with installing go then running `go get -u github.com/stripe/stripe-mock`.  However, after closing my terminal and trying to restart my computer as well, `stripe-mock` wasn't a thing?

Any helpful debugging techniques anybody can think of?

[2017-11-21 02:49] snewcomer commented on #34
Had to add the following
[code]

[2017-11-21 02:49] #34 closed

[2017-11-21 02:50] snewcomer commented on #34
If ya'll think it is good to add this to the directions, I can add it to the README!

[2017-11-21 06:18] joshsmith opened #35 "Endpoint for file uploads?"
Is there supposed to be an endpoint for file uploads?

Thanks!

[2017-12-02 13:21] ruzaikr opened #36 "'Create a card' responds with 'bank account' object instead of 'card object'"
When I try to create a credit card using the following request:

`curl http://localhost:12111/v1/customers/cus_BsLON0VirK4qBO/sources \
   -u sk_test_123: \
   -d source=tok_1B3xSU2eZvKYlo2Cj8aaqtGj`

I get this:

`{
  "account": "acct_1032D82eZvKYlo2C",
  "account_holder_name": "Jane Austen",
  "account_holder_type": "individual",
  "bank_name": "STRIPE TEST BANK",
  "country": "US",
  "currency"

[2017-12-05 17:18] brandur-stripe commented on #36
Hi @ruzaikr, sorry about the trouble here!

Unfortunately, this is a current limitation of `stripe-mock`. Basically it's designed to return some kind of response for any given endpoint that's known to be accurate, but it doesn't necessarily reflect anything that came in via input.

As a simple example, if you create a charge with `amount` of `123`, the resource you get back probably won't have `12

[2017-12-05 17:21] brandur-stripe commented on #33
Hi @dmgawel,

Apologies for the delay here — I've been on vacation for a few weeks, and might be the only person following the issues on this repository closely.

We license our other open source projects under MIT and I've copied that convention to this repository as well. `LICENSE` file incoming in #37.

[2017-12-05 17:21] #33 closed

[2017-12-05 19:25] brandur-stripe commented on #34
Glad to see that you got it working!

The instructions kind of assume a relatively functional Go installation. I don't think we should add too much more detail there, but some kind of link elsewhere (to Go setup docs for example) might be in order.

Also, for what it's worth, if you're using Go 1.8+ `GOPATH` now has a default of `$HOME/go` so you don't have to set that explicitly anymore.

[2017-12-05 19:27] brandur-stripe commented on #35
It should, but no it's not quite in here yet. We're moving to a set of new file endpoints pretty soon in the main API, and I _think_ they'll show up in the OpenAPI spec once that happens, after which stripe-mock will be able to support them.

[2017-12-07 18:56] #31 closed

[2018-01-27 17:27] Andrewangeta opened #41 "Tokens endpoint not properly rejecting bad request body"
When sending a body to tokens endpoint to create a bank account for example.

it will validate the headers no problem but as far as the body it's taking any garbage I throw at it and returns successfully when it shouldn't.

<img width="936" alt="screen shot 2018-01-27 at 12 26 40 pm" src="https://user-images.githubusercontent.com/12012815/35474529-72fa60d8-035d-11e8-98ca-344b471ce914.png">

[2018-02-05 17:34] olimart opened #42 "Deployment (Heroku button)"
Hi,
this is a suggestion but it would be great to be able to deploy an instance through the click of a button

https://devcenter.heroku.com/articles/heroku-button

Thanks.

[2018-02-05 19:51] brandur-stripe commented on #42
Yeah, this could be a good idea. As far as apps go to deploy, this should also be _really_ easy even without a button. There's not much in the way of dependencies, so a clone, `heroku create`, and `git push heroku master` should be enough to do it.

It also seems to be a little bit wasteful to have separate Heroku apps for every user when they're all doing the same thing — we should probably have

[2018-02-06 15:59] olimart commented on #42
Indeed.

I'll try to clone the app and deploy. Thanks

[2018-02-06 15:59] #42 closed

[2018-02-20 13:17] ob-stripe opened #46 "Empty response when expanding an optional unset attribute"
If you try to expand `outcome.rule` on a charge object, you get an empty response:

[code]

`outcome.rule` is a valid expandable attribute (cf. [API ref](https://stripe.com/docs/api#charge_object-outcome-rule)), however it is only set when applicable and is not set in the [fixtures file](https://github.com/stripe/openapi/blob/c71408a2a208989157d993f635579eded090cf10/openapi/fixtures3.yaml#L300-L30

[2018-02-20 20:05] brandur-stripe commented on #46
Oops, yep that's a crash:

[code]

Shouldn't be too hard to shore this up. I'll take a look.

[2018-02-22 22:09] brandur-stripe commented on #46
Just as a quick update: I looked into this one, and the reason this fails where other places don't is that right now we'll attempt to use fixture that's usually pre-specified in `fixtures3` most of the time and generate a few special types of objects (like lists), but right now we fail with the message above if we can't do one of those.

Outcome and rule are a special case because they're API reso

[2018-03-01 23:14] dja commented on #42
Just tried this and couldn't get it to run on Heroku with a simple create then deploy. What's the work involved to create a hosted version of this?

[2018-03-01 23:42] dja commented on #36
@brandur-stripe Any updates on this yet? 🙇

[2018-03-02 15:22] brandur-stripe commented on #42
This should be quite trivial to get running on Heroku — the project's distributed as a single binary and doesn't use any kind of exotic build trickery. Did it look like the Go buildpack was detected properly? Also, Heroku used to like that certain Go version annotations were set in a `vendor.json` file — did you get an error about that?

[2018-03-12 17:26] brandur-stripe commented on #41
Thanks for the report! Yes, unfortunately the current implementation is somewhat unintelligent when it comes to polymorphic types like sources. Over time, we hope to continue iterating on the accuracy of the OpenAPI spec that comes bundled with `stripe-mock` so that it's able to more accurately run these validations.

cc @tmaxwell-stripe

[2018-03-12 19:43] tmaxwell-stripe commented on #41
Actually, it looks like `stripe-mock` is just generally ignoring unrecognized parameters, on all endpoints. I think we might need to set the `"additionalProperties": false` field on our JSON schemas. Thanks for flagging this, @Andrewangeta.

[2018-03-13 12:52] kerak19 opened #48 "Is there ability in stripe-mock to return mock data instead of empty structs?"
As the title says, i'm looking for way to use stripe-mock in our application, but for now most of my calls panics or returns error because it gets empty struct and nil pointers.

Is there ability in stripe-mock to return mock data instead of empty structs?

[2018-03-13 23:52] brandur-stripe commented on #48
Hi @kerak19, `stripe-mock` should have mock fixture data for most common resource types, but doesn't yet have an implementation to return synthesized data for resources that it's not familiar with (although I hope to get to it soon). See #46 where we're tracking that one.

[2018-03-14 07:16] kerak19 commented on #48
Hey @brandur-stripe, thanks for your response.

You see, when, for example, i'm creating credit card using stripe-mock, this is the response:

[code]

Which totally doesn't work for me, because of empty lastFour and Brand fields.

Is that response correct or should there be some data?

Thanks.

[2018-03-14 17:30] brandur-stripe commented on #48
Yes, sorry about the trouble. The problem is that `stripe-mock` isn't doing a good job of handling "polymorphic" resources like sources and it only has a single fixture that it uses for all of them. The one that's bundled right now is a bank account:

[code]

So when `stripe-go` tries to deserialize it back to a card, all the fields look empty.

[2018-03-18 14:21] adrienverge commented on #19
If you need a stateful Stripe sandbox, you could also try [localstripe](https://github.com/adrienverge/localstripe). Unlike stripe-mock, not all routes are implemented but those that are actually save data.

This means the "card tokens turned into payment sources" use-case described by @JackWink works there.

[2018-03-18 14:24] adrienverge commented on #48
Like for #19: while waiting for the official stripe-mock to save current state, you could use [localstripe](https://github.com/adrienverge/localstripe): it saves data from requests and returns real objects (with `last4` and everything).

[2018-03-19 09:32] kerak19 commented on #48
@adrienverge Thanks, i'll check it out

[2018-03-21 09:54] mmmmmrob opened #49 "Publish docker image to docker hub?"
Is there an official build of the docker image that can be used without building? I couldn't find one on docker hub.

[2018-03-21 22:09] #49 closed

[2018-03-21 22:52] brandur commented on #49
I added #50 to push an image to Docker Hub based off the `master` branch (we might do tagged images at some point in the future too, but we'll do the easy thing for now).

A couple caveats:

1. For now this is being built to https://hub.docker.com/r/stripemock/stripe-mock/, but we'll probably move the repository shortly to `stripe/stripe-mock`, so keep an eye out for that.
2. The image is large (~

[2018-03-22 11:50] louischatriot opened #52 "Using request data in mock response"
Hello, it would be great that the mock server uses the request data in its mock response, see code below:

[code]

This behaviour makes stripe-mock pretty useless for testing anything else than request formatting, and given the stripe-python library works great we don't need to test it :)

I understand that actually mocking the entire Stripe backend in `stripe-mock` would be way too much work (and

[2018-03-23 19:37] brandur commented on #52
Hi Louis,

Yes, I totally agree that this is something that `stripe-mock` should do. A little like you alluded to, it can be a little hard to make sure that you get the tradeoff right — we should have responses that look roughly sane based on the incoming request, but we also don't want to go down the path of implementing the entirety of Stripe's domain logic (which would inevitably end up being w

[2018-03-23 19:59] louischatriot commented on #52
In case useful for others, here is the small Flask server I created for testing purposes. It mocks the "core of Stripe" (at least the one we need): creating a token, creating a Customer object from a token, charging a Customer and retrieving the corresponding balance transaction (no Connect support). It keeps state in an in-memory "database".

I work on it as the project needs and it is still pret

[2018-03-23 22:09] ob-stripe commented on #52
Hey Louis! You might also want to check out this third-party project: https://github.com/adrienverge/localstripe. I haven't had a chance to test it myself yet, but it looks like it has some of the features you're looking for.

[2018-03-24 13:37] louischatriot commented on #52
Thanks Olivier, this looks a lot like what I need thanks! Me and my bad habit of not checking thoroughly for prior art ;)

[2018-03-30 03:50] shipstar commented on #42
I'm not sure if my issue was the same as @dja's, but when I did a simple Heroku create / deploy, the app hung indefinitely. The buildpack was detected and I _think_ the app was running, just on the wrong port. Heroku uses a `PORT` env var instead of the `--port` flag used by this app, so I think their networking just didn't have a way to detect the 12111 default port.

I've never written go before

[2018-03-30 10:07] ob-stripe commented on #42
@shipstar You should be able to set up your Heroku Procfile to do something like this:
[code]

[2018-03-30 13:52] brandur-stripe commented on #42
+1.

That said, it should probably also respect the value of `PORT` since that's become quite a common convention. I have to take a look at `stripe-mock` a little later today, and I'll put a patch together for that.

[2018-03-30 22:31] brandur-stripe commented on #42
Released a fix for the `PORT` problem in v0.11.0.

[2018-04-04 16:09] ob-stripe opened #56 "Deleted resources have an empty `id` string"
When replying to resource deletion requests, stripe-mock returns an empty string for the `id` attribute:

[code]

The live API sends back the ID of the deleted resource:
[code]

[2018-04-04 17:06] brandur commented on #56
Ah, yep. That's definitely a problem. Thanks for opening.

[2018-04-04 23:03] #56 closed

[2018-04-10 09:00] jeffawang commented on #11
I was able to kludge something together after messing with import paths and packages. As mentioned, just exporting the StubServer seemed to do the trick. Being able to use `httptest` and whatnot while testing is quite nice.

[2018-04-14 00:12] brandur-stripe commented on #46
I ended up going with option (2) above.

Confirmed that #48 fixes this problem:

[code]

[2018-04-14 13:25] ob-stripe opened #61 "Reflect an object's primary ID from a path back in the response"
#59 implemented this feature, but there are a few cases in which it doesn't work:

- non-CRUD methods:
    - `POST /v1/accounts/<ID>/reject`
    - `POST /v1/application_fees/<ID>/refund`
    - `POST /v1/charges/<ID>/capture`
    - `POST /v1/charges/<ID>/refund`
    - `POST /v1/payouts/<ID>/cancel`
    - `POST /v1/sources/<ID>/verify`

- nested resources:
    - `POST /v1/application_fees/<FEE_ID>/r

[2018-04-16 17:13] brandur-stripe commented on #61
Haha, you are the best alpha tester ever OB!

Okay, I put in a list of special cases already so it'll be easy to get that first list to work at least (I'll open a PR soon).

I think I have an answer for the second too, but unfortunately it'll be a little longer coming — it'll require a more elegant approach to parsing query parameters based off better information in OpenAPI. I'm planning on workin

[2018-04-16 18:18] brandur-stripe commented on #61
Put together the first part of this fix in #62.

[2018-04-16 18:25] remi-stripe commented on #61
Lurking in: we should look into expand (and whether we want to fix it there too) as you can end up expanding back to the root object and would need to properly change the ids for those sub-resources too.

[2018-04-16 18:42] brandur-stripe commented on #61
@remi-stripe Yeah, it at least _tries_ to support that already by recursing all the way into every generated object and changing values around, but I wouldn't be too surprised if there were some failing edge cases. I'll keep an eye on trying to improve that for the next version.

[2018-04-16 21:00] #46 closed

[2018-04-25 14:51] snewcomer commented on #35
@brandur-stripe 👋 Was curious on the ability to support file uploads.  Anything I can help with?

[2018-04-25 17:28] brandur-stripe commented on #35
@snewcomer Good question, and thanks for the offer! Actually, I've been lookin at this stuff lately, and I think we could get a patch in now. Let me take a quick look.

[2018-04-26 20:15] brandur-stripe commented on #35
This had a few more gotchas than I'd expected, but I'm pretty close to a working version.

[2018-04-26 22:28] brandur-stripe commented on #35
Okay, I just shipped v0.14.0!

The file tests in `stripe-ruby` are currently special-cased so that they don't hit `stripe-mock`, but I just unspecial-cased them, and they seem to work.

Try it and let me know if you see any problems. Closing this out for now.

[2018-04-26 22:28] #35 closed

[2018-04-26 22:30] brandur-stripe commented on #61
Okay, subresources are now handled too! (Available in 0.14.0.) Closing this out.

[2018-04-26 22:30] #61 closed

[2018-04-26 22:42] brandur-stripe opened #69 "Validate incoming media type"
It'd be a nice addition to make sure that a request's incoming `Content-Type` is the same as the media type dictated by OpenAPI spec. Mostly this won't make a difference because we'll probably fall back to form encoding, but it'd be useful for vetting implementations against the file endpoints.

[2018-04-26 23:03] brandur-stripe commented on #35
And actually, I found a bug that's causing request parameters for those endpoints not be validated ... a fix can be tracked against #69, which is related.

[2018-05-03 23:33] #69 closed

[2018-05-04 18:50] brandur-stripe commented on #35
@snewcomer Would you mind trying to upgrade to 0.15.0? the previous version did respond at the file endpoints, but it wasn't validating incoming parameters correctly. 0.15.0 should be an adequate fix for that problem, and I've had some success testing `stripe-ruby` against it. (Thanks!)

[2018-05-04 20:34] brandur-stripe commented on #35
@snewcomer Yeah, it should at `POST /v1/files` (I've verified in other languages that this seemsto work — see https://github.com/stripe/stripe-ruby/pull/644 for example). One caveat is that this endpoint is quite unusual in that it expects to have request bodies encoded as `multipart/form-data` to support a file upload.

[2018-05-28 10:42] victordzmr opened #75 "Error creating a source"
When I create a source, the following error occurs. I'm using the [Docker image](https://hub.docker.com/r/stripemock/stripe-mock/) (latest tag, last updated 16 hours ago). The request body can be found in the trace.

[code]

By the way, I think it would be a good idea to tag releases in Docker Hub.

[2018-05-30 00:00] #75 closed

[2018-05-30 00:03] brandur-stripe commented on #75
Thanks for reporting. Could you try the fixed that I shipped in #76 (v0.16.2)? Unfortunately, it's not clear to me how to reproduce this one from the test suite (documentation on Go's `reflect` package is _very_ light on how to produce a "zero Value"), but I think that'll do it.

Yeah, agreed. Unfortunately I haven't had the time to build out a more sophisticated build system.

[2018-05-30 08:30] victordzmr commented on #75
It works fine now. Thank you very much! :)

[2018-06-08 12:05] carlesjove opened #78 "Customer#default_source not present in response"
Hi,

I'm having this issue testing in Ruby, using stripe-mock, in which `stripe_customer.default_source` raises a `NoMethodError`. I'm afraid this is because responses from stripe-mock don't include this attribute.

[2018-06-08 17:57] brandur-stripe commented on #78
As mentioned in stripe/openapi#34, I'll see if I can add a patch for this on the server.

[2018-06-09 00:18] #78 closed

[2018-06-09 00:19] brandur-stripe commented on #78
I just released a new version in 0.18.0 where this issue should now be addressed.

[2018-06-10 10:38] carlesjove commented on #78
@brandur-stripe Thanks!

[2018-07-17 17:35] remi-stripe opened #81 "List endpoints should support `limit` parameter"
When you use one of the List APIs and pass `limit`, the parameter is ignored and the returned list only contains one object. It would be great if it supported returning more than 1.

[2018-07-17 18:31] brandur-stripe commented on #81
+1 million. I think this would be a great enhancement after we have #19 implemented (so that it's possible to have a little more data to actually return on list endpoints). Marking as future for now, but I'm very much hoping to get around to a few of these improvements soon.

[2018-08-06 08:54] RoyalSix opened #95 "Destination Object For Charge Has Invalid Validator"
The validator does not account for the endpoint of
https://stripe.com/docs/connect/destination-charges
[code]

It returns
[code]

[2018-08-07 13:40] brandur-stripe commented on #95
This is a problem with the parameter coercer not recursing into an `anyOf` schema properly — it currently only does so on primitive types. I'm looking into it!

[2018-08-07 20:45] #95 closed

[2018-08-07 20:46] brandur-stripe commented on #95
Released 0.25.1.

[2018-08-24 08:22] RoyalSix opened #103 "Wrong Return Object for Bank Account Tokens API"
The following [request](https://stripe.com/docs/api/curl#create_bank_account_token)
[code]
Returns back a card object when it should be a bank_account one

[2018-08-24 08:33] #103 closed

[2018-08-29 10:31] ob-stripe opened #107 "GET requests should not require a `Content-Type` header"
With the latest version, sending a GET request without a `Content-Type` header fails:

[code]

The Java client library does not include a `Content-Type` header when sending GET requests, so the test suite fails with the latest version of stripe-mock.

[2018-08-29 17:35] brandur-stripe commented on #107
Thanks for opening! I have a patch coming through that reworks a lot of this stuff and I think it'll fix this one too.

[2018-08-30 23:30] mcrumm opened #110 "Tagging releases for Docker Hub?"
First, thank you for stripe-mock!  It's unbelievably helpful.

...the v0.30.0 release broke our CI pipeline, as at least one unofficial library is not properly handling `GET` params, aside from also being pinned to `2018-05-21`. There was some mention in #50 of possibly adding tags for docker images -- is this still a possibility?

[2018-08-31 22:29] #110 closed

[2018-08-31 22:59] brandur-stripe commented on #110
Sorry to hear about the trouble caused by the changes!

I just merged a patch to start [tagging on Docker Hub](https://hub.docker.com/r/stripemock/stripe-mock/tags/) and created a test release for v0.30.2 that you can lock to (provided you're able to get the incompatibilities resolved).

[2018-09-01 15:14] mcrumm commented on #110
@brahn-stripe this is awesome!  Thanks for moving on that so quickly.

[2018-09-22 02:54] FrankSalad opened #114 "Applying test coupon to a customer is not reflected in response data"
[code]

Expectation:
[code]

Current result:
[code]

[2018-09-22 14:51] ob-stripe commented on #114
Hi @FrankSalad. At this time, stripe-mock is largely stateless -- the responses it returns are set fixtures that don't take the request's parameters into account (save for a few specific exceptions like `id`).

There are already some open feature requests for making stripe-mock more stateful, such as #19 and #52, so I'm going to close this issue. I recommend you subscribe to the issues I mentioned

[2018-09-22 14:51] #114 closed

[2018-10-03 14:42] kr4ster opened #116 "Invoicing Support?"
One of the toughest things for us to test currently is invoicing.  Primarily because most invoicing processes are initiated by Stripe.  It would be very helpful to, at the very least, make a call to the mock requesting that it call an endpoint to initiate an invoicing event (e.g. invoice_created).

[2018-10-03 22:38] brandur-stripe commented on #116
Okay, I'm not sure that we'll get to this kind of thing right away, but that sounds like a very interesting feature. I'll leave this issue open for tracking.

[2018-10-12 14:11] benoj commented on #36
Same issue here  ☹️

[2018-10-22 19:22] j opened #122 "Best way to load fixtures via docker-compose."
What's the preferred way of loading custom fixtures via docker-compose?

My api is tightly coupled with specific skus and testing makes it rough with this, so I'd like to be able to define custom fixtures.

Thanks!

[2018-10-29 05:53] brandur-stripe commented on #122
Are you asking how you'd bundle a fixtures file and then use it with the `-fixtures` options in stripe-mock?

[2018-10-29 17:29] j commented on #122
Yeah, I was using the stripe docker container but didn't have enough resources to keep looking up the fixtures part.  We ended up not using stripe-mock and just mocked the Node.js stripe itself for testing.

[2018-10-29 19:53] brandur-stripe commented on #122
Roger. In that case, I'm going to close this out. Thanks for following up!

[2018-10-29 19:53] #122 closed

[2018-12-27 05:37] ktravers opened #131 "delete source request returns Account instead of Source"
When responding to delete source request, stripe-mock returns an Account object:

[code]

When responding to delete source request, the live Stripe API returns a Source object:
[code]

[2019-01-03 13:19] ob-stripe commented on #131
This is basically the same issue as #36. stripe-mock currently ignores the input and just returns a resource that's compatible with the endpoint.

In this case, the spec lists the following resources for `DELETE /v1/customers/{customer}/sources/{id}`:
[code]

and `payment_source` is defined like so:
[code]

so stripe-mock returns an `account`.

I'm a bit surprised though because for `DELETE` reque

[2019-01-11 21:08] jheth opened #133 "New Account DelayDays Validation Error"
When using PayoutSchedule DelayDaysMinimum parameter I get the following error:

[code]

Request: POST /v1/accounts
Request data = map[external_account:tok_1DoUTXYZ legal_entity:map[type:individual address:map[state:PA city:Pandatown country:US line1:123 Panda Lane line2:Apt 5 postal_code:76543] dob:map[day:1 month:1 year:1980] first_name:John last_name:Doe personal_id_number:000000000 ssn_last_4:

[2019-01-11 21:12] jheth commented on #133
It works if I don't set DelayDaysMinimum, sending `payout_schedule:map[delay_days:0 interval:daily]` to stripe-mock.  However, that causes the real/test stripe API to fail with the error:

{
 “status”:400,
  “message”: “You cannot lower this merchant’s delay below 2”,
  “param”: “payout_schedule[delay_days]“,
  ”request_id”: “req_X”,
  “type”: “invalid_request_error”
}

[2019-01-14 20:48] brandur-stripe commented on #133
Hi @jheth, would you mind trying to upgrade your version of stripe-mock and trying again? It's still changing a lot, and I think the issue you were running into is solved now.

I'm able to successfully simulate an account create against stripe-mock with this Ruby script, which I believe is sending similar parameters to your integration:

[code]

Encoded parameters:

[code]

[2019-01-15 14:50] jheth commented on #133
This was running against the latest stripe-mock.  I would expect the request body to be what you show, where delay_days=0 and delay_days_minimum=true.

When I print the map in go it shows, `delay_days:minimum` which would not be a valid integer.

payout_schedule:map[delay_days:minimum interval:daily]

[2019-01-15 14:52] ob-stripe commented on #133
@jheth It sounds like you're using stripe-go to send the request, is that correct? Can you share the exact code you're using to create the parameters and send the request, and also tell us the versions of Go and stripe-go you're using? (I wonder if this is a client issue rather than a stripe-mock one.)

[2019-01-15 14:57] jheth commented on #133
Yes, absolutely. I included the 3 lines of PayoutSchedule configuration in the description.

This is the function in stripe-go that is overwriting delay_days to be `minimum` instead of 0.

[code]

[2019-01-15 14:57] jheth commented on #133
Oh, I may see what you're saying, I am NOT using the latest stripe-go package. That is likely it. I'll check for an update there.

[2019-01-15 15:39] jheth commented on #133
The latest stripe-go package has the same function overwriting `delay_days`, which I think is the issue.

[2019-01-15 15:43] ob-stripe commented on #133
@jheth Thanks for checking. Would you mind opening an issue on the stripe-go repository, and referencing this one?

[2019-01-15 18:36] brandur-stripe commented on #133
Doh, actually on a second look it looks like [from the documentation](https://stripe.com/docs/api/accounts/create?&lang=go#create_account-payout_schedule-delay_days) what stripe-go is doing here is correct, and this is an OpenAPI/stripe-mock problem.

I'll check to see whether it's relatively tractable to get this fixed. Sorry about the run around!

[2019-01-15 23:07] brandur-stripe commented on #133
Okay, just waiting on a review now, but I have a fix coming down the pipe. It should be out in the next day or so.

[2019-01-16 15:03] carantunes opened #134 "New source of type 'three_d_secure' returns a validation error"
When I create a new source of type "three_d_secure" an error is returned related to the card sent in the TypeData field.

Logs
[code]

[2019-01-16 15:19] ob-stripe commented on #134
Hi @carantunes, thanks for the report. It seems that the `three_d_secure` parameter is not present in the public OpenAPI specification for the `POST /v1/sources` endpoint.

Note that even if we were to fix the specification to add this parameter, stripe-mock currently does not have the ability to return a resource consistent with the parameters, only with the endpoint. That is to say, stripe-mock

[2019-01-16 15:20] ob-stripe commented on #133
Oops, thanks @brandur-stripe and sorry for misleading you @jheth!

[2019-01-16 15:38] carantunes commented on #134
Hi, thanks for the fast answer!

I know that, however for testing purposes I need the create sources endpoint to work with type=three_d_secure, even if the returned resource is not consistent with the parameter.

[2019-01-16 19:05] brandur-stripe commented on #133
Hey Joe, I just released 0.41.0 and confirmed that a call that was previously failing now succeeds. Please upgrade and try it out!

[2019-01-16 19:05] #133 closed

[2019-01-16 23:38] jheth commented on #133
Thanks @brandur-stripe! It's all good now.

[2019-02-07 16:53] zachfeldman commented on #36
Just leaving this here in case it's helpful to anyone using Rspec that comes across this:

[code]

This solved my issue with bank accounts vs credit cards.

[2019-02-28 15:29] v-kolesnikov opened #143 "Docker image can't be built"
Hi!

I use `stripe-mock` as a docker-compose service for my tests as following:

[code]

But since today when I try to build that image I receive this error:

[code]

[2019-03-04 17:31] brandur-stripe commented on #143
@v-kolesnikov Are you still running into this? I was out last week, but the `openapi` submodule has since been updated to a new revision:

[code]

I'm not sure exactly why you'd run into that old error though. You can see by pulling down the `stripe/openapi` repository that that that Git object certainly still exists:

[code]

I'd suspect some sort of intermittent problem, but I'm not sure.

[2019-03-05 13:24] v-kolesnikov commented on #143
@brahn-stripe Thank you for response! The problem disappeared after #144.

[2019-03-05 13:24] #143 closed

[2019-03-20 21:08] rudle opened #149 "stripe-mock doesn't work under Go Modules"
When I try to install stripe-mock under go modules, I get a type error. I suspect this is related to the JSON Schema dependencies moving from `github.com/lestrrat` to `github.com/lestrrat-go`.

See if you can reproduce:

[code]

[2019-03-21 17:06] #149 closed

[2019-03-21 20:26] Tiedye opened #152 "returned `id`s are the same for every request"
Since the returned `id`s are just taken from a fixture, the same `id` is returned every time.  This causes integrity errors when testing the system I am working with

[2019-03-22 20:57] brandur-stripe commented on #152
This should be relatively easy to fix because we've already got infrastructure for distributing IDs in a response object that were parsed out of an incoming URL. I'll take a look.

[2019-03-22 23:55] brandur-stripe commented on #152
Took a shot at this in #153.

[2019-03-24 00:05] Tiedye commented on #152
Once https://github.com/stripe/stripe-mock/pull/153 is merged and deployed, the stripe shim will be redundant

[2019-03-25 20:20] #152 closed

[2019-03-25 20:31] brandur-stripe commented on #152
Released this feature in 0.50.0.

[2019-03-25 20:50] Tiedye commented on #152
Wonderful!

[2019-04-05 23:18] jamesjia94 opened #156 "Fixture for /customer/:customer_id/sources endpoint"
Which resource should I be editing in order to modify the returned response from ` /customer/:customer_id/sources`?

Not sure if this is specific to [stripe-go](https://github.com/stripe/stripe-go), but I'm trying to annotate the paymentsource with a [source object](https://github.com/stripe/stripe-go/blob/69a486ccb431be85b15bb8db02a11738dbeff23a/paymentsource.go#L95), and I can't seem to figure o

[2019-04-08 14:05] brandur-stripe commented on #156
Hey @jamesjia94, sorry about the trouble here, but this is currently a limitation in stripe-mock — when dealing with a polymorphic response, it always returns a fixed fixture regardless of the input parameters.

This is one that we'd love to fix though, as it's going to be a very fundamental limitation for most users. No promises, but I want to spend some time on stripe-mock this week, and I'll st

[2019-04-08 14:05] #156 closed

[2019-04-11 18:07] mickjermsurawong-stripe opened #157 "url-encoded id in path causes 404"
Coming from https://github.com/stripe/stripe-java/pull/737

It seems like stripe-mock has different behavior from our actual backend behavior. Although id is properly url-encoded, stripe-mock still rejects it.

@ob-stripe suggests a root-problem here https://github.com/stripe/stripe-java/pull/737#issuecomment-481880538

To reproduce the problem:

For a string ID: `Pro plan $699/month` with url-enc

[2019-04-11 19:33] qrush opened #158 "Use test card numbers and tokens in the mock"
I was surprised that Stripe's own test tokens for invalid cards, etc aren't supported by this mock out of the box. I feel like supporting this should be a bit higher in the priority list than storing data locally:

https://stripe.com/docs/testing#cards

[2019-04-15 22:11] brandur-stripe commented on #158
Yeah, I'd like to support these. Two major reasons that it's note done already:

* All stripe-mock endpoints are powered by OpenAPI and don't have specific implementations right now. Implementing the test card numbers would be a deviation from that.
* Without OpenAPI, we don't really have a way of keeping the test numbers in use here in sync with what the Stripe API offers.

We should still do it,

[2019-04-18 18:12] #157 closed

[2019-07-01 15:17] knoebber opened #169 "Cannot update subscription with plan"
The mock server responds with a 400 if a plan is included in the request body.

Tested with the following bash script:

`update_sub`
[code]

Running `./update_sub` results in successful response from the stripe test server.
Running `./update_sub mock` results in:

[code]

[2019-07-01 16:14] #169 closed

[2019-07-01 16:15] knoebber commented on #169
Resolved - I was using an older version of the stripe api, and the mock is locked to the newest version. It would be good to put that in the README.

[2019-07-11 07:04] nicolaiarocci opened #170 "Customer and Subscription POST now return a `data` array in the JSON, which can't be de-serializaed to proper objects"
We updated to latest stripe-mock/stripe-dontnet releases (0.60/27.10). Now both Customer and Subscription POST responses return an array of objects (the `data` field), whereas they used to return the newly added object. This appears not to be coherent with Stripe API, which still returns the object, and not an array. A quick check at the OpenAPI specification seems to confirm that a single object

[2019-07-11 17:54] ob-stripe commented on #170
Hi @nicolaiarocci, can you check your requests and share the exact path you're using?

I just tested it on my laptop and it seems to work fine:
[code]

My guess is that you're actually sending GET requests, not POST, which causes stripe-mock to (correctly) return a list object.

[2019-07-12 06:15] nicolaiarocci commented on #170
Hi @ob-stripe and thanks for looking into it. As mentioned, I am using `Stripe.CustomerService.Creare()` to perform the request. Same code executed against the Stripe test API returns a properly initialized `Customer` object. Will double check when I get back to my machine, and report back.

[2019-07-12 07:43] nicolaiarocci commented on #170
Alright, I think I found the culprit. Long story short:

- if we set `StripeClient.ApiBase = "http://localhost:12111/"`, then a `Stripe.CustomerService.Create()` call will return a list;
- if we set `StripeClient.ApiBase = "http://localhost:12111"`, the same call will return an object.

It wasn't immediately apparent because we what we are actually doing is:

[code]
Where `StripeConfiguration.Base

[2019-07-12 16:55] ob-stripe commented on #170
Nice find!

We could fix in the Stripe.net client library by stripping the trailing `/`, but we should probably also fix this in stripe-mock (or at least return a better error to make it clear that `//v1/foo` is not a valid path).

@brandur-stripe Could you take a look at what's causing stripe-mock to return a list object in this case?

[2019-07-13 06:04] nicolaiarocci commented on #170
Just out of curiosity I tried:

`curl -i http://localhost:12111//v1/customers -H "Authorization: Bearer sk_test_123"`

It returns a 301 which points to `/v1/customers`

[2019-07-22 09:41] shakaman opened #171 "Create a subscription with `off_session` params"
With the new European legislation, we need to use `setup_intent` with `usage=off_session` to create a `payment_method`.
But if you don't put the params `off_session=true` when you create the subscription, the first payment stays in status `incomplete`.
With the real **Stripe api**, you can use this params but with **Stripe-mock** we can't 🙁, the lib returns this error
[code]

[2019-07-22 17:57] ob-stripe commented on #171
Hey @shakaman, we just released stripe-mock 0.61.0 which should accept this parameter. Let us know if it doesn't work for you!

[2019-07-22 17:57] #171 closed

[2019-07-22 19:18] brandur-stripe commented on #170
Thanks for the diagnosis @nicolaiarocci and assist @ob-stripe! Sorry about the delayed response here.

Looking at this one a little more closely, it turns out that the redirect behavior you're seeing is built right into [Go's HTTP package](https://stackoverflow.com/questions/47475802/golang-301-moved-permanently-if-request-path-contains-additional-slash) and activates when double slashes are encou

[2019-07-22 23:19] #170 closed

[2019-07-22 23:23] brandur-stripe commented on #170
Released a fix in 0.62.0.

[2019-08-02 07:15] adrienverge commented on #158
@qrush while waiting for the official stripe-mock to support these, you could use [localstripe](https://github.com/adrienverge/localstripe): it implements invalid cards handling, attaching errors, payment errors, etc.

[2019-08-02 11:51] dpash opened #175 "Creating plan doesn't return a product object"
Running the following Java against the mock results in a NPE as the response doesn't include the Product object in the json.

[code]
JSON:

[code]

[2019-08-02 11:58] ob-stripe commented on #175
@dpash [`product`](https://stripe.com/docs/api/plans/object#plan_object-product) is an expandable field, by default it only contains a string with the ID of the resource. If you want the full object, you need to request it using the `expand` parameter in your request: https://stripe.com/docs/api/expanding_objects.

[2019-08-02 12:00] dpash commented on #175
Sorry, yes, adding that to the expand parameter resolved the issue.

Sorry again for the noise.

[2019-08-02 12:00] #175 closed

[2019-08-02 12:04] ob-stripe commented on #175
No worries at all!

[2019-09-18 13:35] tristanoneil opened #180 "Returned association ids are the same for every request"
We have run into an issue similar to https://github.com/stripe/stripe-mock/issues/152 but for the ids of associations. Our database has a unique constraint on a column where we're storing the `charge.id` from a `payment_intent`. This constraint makes it so we cannot use `stripe-mock` in cases where we take two actions that result in persisting a record with this column as the `charge.id` is always

[2019-09-18 17:44] brandur-stripe commented on #180
We could probably patch this by having a heuristic like:

1. For IDs found in incoming parameters, replace whatever would have appeared in the response with those incoming (e.g. if `plan=plan_123` is sent to to `POST /v1/subscriptions`, the returned `plan` field should be `plan_123`).
2. Randomize all other IDs.

This is a little more questionable than the solution to #152 because unlike there whe

[2019-09-18 17:54] tristanoneil commented on #180
Option 2 would work for at least our current use case.

At least in the case of payment intents given that the `id` is unique each time I think it'd make sense for the `charge.id` to also be unique each time as the real API doesn't associate the same charge with multiple unique payment intents (or at least I don't think it does 😄).

[2019-09-20 15:42] brandur-stripe commented on #180
I tried to see if I could implement this one quickly, but there turned out to be a few more problems than I was hoping for. The biggest one is that currently we don't actually know whether a field is an ID or not when responding from the generator — often ID fields are called `id`, but they're also often called things like `charge`.

The information is sort of in the OpenAPI spec, but not in a way

[2019-09-25 18:48] tristanoneil commented on #180
@brandur-stripe curious if there are any plans within Stripe to focus on moving forward with #19. We had previously been using `stripe-ruby-mock` but newer API endpoints aren't very well supported so we've been struggling to find a path forward for testing our integration at the system level.

[2019-09-27 02:09] tristanoneil opened #181 "SetupIntent missing client_secret"
I wasn't entirely sure if this issue belongs here or the OpenAPI repo but the response for a SetupIntent returns `null` for the `client_secret`.

This being `null` causes issues when trying to test at the user level when used in conjunction with react-stripe-elements because of https://github.com/stripe/react-stripe-elements/blob/3fb4e57ec439f652857cbfd21597f00a2c7af5a7/src/co...

[2019-10-28 22:17] harrislapiroff commented on #16
I'll second a request for webhook support! I'm currently trying to write automated tests for my Stripe webhook view and would love a way to do it without requiring active credentials my stripe sandbox to be stored on CI. (If anyone has recommendations for ways to do that before this feature lands, I'd love to hear them!)

[2019-11-06 12:14] leoht opened #187 "Adding external (bank) account to account using hash of values fails"
It seems like the mock validation of the field `external_account` for this endpoint:
https://stripe.com/docs/api/external_account_bank_accounts/create?lang=curl

isn't aligned with the test/live API:

This curl calling the test API is successfully creating the external account object:
[code]

But the same call against the mock fails using a map of values instead of a string token for `extenral_acc

[2019-11-11 16:04] marty331 opened #199 "Allow API Key to use restricted key"
Currently stripe-mock returns an error when using a restricted key (rk_) vs using the standard secret key (sk_).  A very simple change would resolve this and allow for a developer to use either.  It is much more common (on my project anyway) for developers to be issued restricted keys so this would greatly improve the dev workflow.

Below is the code change needed (I tried to submit a PR but was u

[2019-11-11 17:34] brandur-stripe commented on #199
Yep, seems reasonable — opened #200 to fix.

[2019-11-11 17:54] marty331 commented on #199
Thank you.

[2019-11-11 19:02] #199 closed

[2019-11-11 19:04] brandur-stripe commented on #199
Released as v0.75.0.

[2019-11-29 04:06] dahu33 opened #203 "Let the user select the IP address to listen on"
Currently stripe-mock listens on all available addresses which is not ideal in many context. Providing a CLI option would solve the issue and defaulting to localhost would also be great.

[2019-12-02 19:13] brandur-stripe commented on #203
Makes sense. Added a stab at this in #204.

[2019-12-02 20:56] #203 closed

[2019-12-02 20:57] brandur-stripe commented on #203
0.77.0 released with new options `-http-addr` and `-https-addr`.

[2019-12-04 01:38] shoenseiwaso opened #206 "Refactor to make stripe-mock useable as a package"
It would be great to be able to embed `stripe-mock` as a package in Go. For example, something like:
[code]

In order to make this work, probably two changes are required:
- Move the bulk of the functionality out of `package main`. This could be accomplished either by moving most of the functionality in `github.com/stripe/stripe-mock` to another package in a sub-folder, or moving `package main` in

[2020-01-15 19:04] j4rs commented on #16
@harrislapiroff did you take a look to https://github.com/stripe-ruby-mock/stripe-ruby-mock - it supports simulating webhooks calls out of the box.

[2020-01-16 16:50] harrislapiroff commented on #16
@j4rs I didn't! Thanks for the tip. Will check it out.

[2020-01-20 21:52] shanestillwell opened #209 "Mock Oauth Token endpoint for connect?"
Is it possible to mock the connect oauth token endpoint found at
https://stripe.com/docs/connect/oauth-reference#post-token-request

I've tried this without success
[code]

I get the error
[code]

[2020-01-20 22:25] remi-stripe commented on #209
@shanestillwell At the moment, stripe-mock doesn't support the OAuth endpoint as those are not part of our core API (on api.stripe.com) and instead are on connect.stripe.com.

[2020-01-21 01:05] shanestillwell commented on #209
@remi-stripe

Thanks for clarifying.

[2020-01-21 01:05] #209 closed

[2020-02-04 08:48] sauroter opened #210 "default_tax_rates in subscription endpoint has the wrong type"
Hi,

When testing the Java SDK against the mock server a call to  create a subscription (`POST http://mockserver/v1/subscriptions`) and setting the `default_tax_rates` parameter to a tax rate id (e.g. txr_123), the mockserver returns an subscription object containing a list of strings as `default_tax_rates` instead of an list of tax_rates (https://stripe.com/docs/api/subscriptions/object?lang=curl

[2020-02-04 17:54] ob-stripe commented on #210
Hi @sauroter, thanks for the report.

@brandur-stripe I think this is caused by stripe-mock's "mirroring" feature where if a parameter is passed and the response has a field with the same name, then stripe-mock will fill the response field with the parameter's value.

This only works if the response field has the same shape as the request parameter, which is not always the case. In this case the [

[2020-02-04 20:13] brandur-stripe commented on #210
Thanks @ob-stripe! I _think_ we do something a little like that already somewhere (I can't remember the specifics) so it shouldn't be too hard. I'll look into it.

[2020-02-06 00:32] #210 closed

[2020-02-06 00:33] brandur-stripe commented on #210
A fix should now be available in 0.80.0.

[2020-02-06 06:16] sauroter commented on #210
Wow, you are amazing!
Thank you for the fast work.

[2020-02-18 15:58] vready333 opened #212 "Customer object missing attributes"
Customer name, address not allowed: additional properties are not allowed: name, address","type":"invalid_request_error"

[2020-02-18 16:33] remi-stripe commented on #212
@vready333 The latest version of stripe-mock does support those properties. I have installed 0.80.0 locally and this command just works:

[code]

The fixture used internally also returns `address: null` and `name: null`. We won't reflect back the parameters that you're passing as stripe-mock only returns the internal fixture.

Are you sure you have the latest version installed and running?

[2020-02-18 19:04] leo-bao-prodigy opened #213 "Updating Subscription Item returning empty list for tax_rates"
Hi,

When testing Stripe with python using stripe-mock, calling the [modify](https://stripe.com/docs/api/subscription_items/update?lang=python) function returned an empty list for `tax_rates` despite a tax rate being set in the function call. For example, calling the function with:
[code]
Ends up returning a Subscription Item object with an empty list in the `tax_rates` field.

Similar thing happe

[2020-02-18 19:06] remi-stripe commented on #213
@leo-bao-prodigy stripe-mock does not reflect the parameters back today unfortunately. What it does is validate that the format of the request is correct (supported parameters and endpoints) and then it responds with a fixed version of a Subscription Item object taken from the internal fixture. The only thing we reflect back are ids like the `si_someid` you are passing.

[2020-02-18 19:10] leo-bao-prodigy commented on #213
Ah, so I'm assuming the basic fields like id are reflected as you said but more complex ones like `tax_rates` are fixed values?
Thanks for the quick reply!

[2020-02-19 13:37] leo-bao-prodigy commented on #213
My bad, closed the issue a bit early, a couple more questions on this
Up until recently, `default_tax` was reflected and included in the return value but starting version 0.80.0, this was removed following the fix for the issue linked above, I'm wondering if this was intended functionality or not?
Thanks

[2020-02-19 19:19] mahirk opened #214 "Creating a customer with a source does not echo the default_source in response"
Creating a customer with a source does not respond with the default source as part of the response. The response seems to have a `source ` object as an alipay account.

As an option for implementation, the API can accept source parameter as `tok_visa` and use those values, which handles only the basic. Any other values in source can respond with the same value right now, with the `alipay` as the s

[2020-02-19 20:54] brandur-stripe commented on #213
Hey @leo-bao-prodigy, sorry about the breakage here.

I think you have it roughly right already — stripe-mock will try to reflect values back in responses, but it gives up on doing so unless a parameter's type in the request matches the field's type in the response according to the OpenAPI schema.

This is different from how it was before #211, where we'd be much more optimistic about what we coul

[2020-02-20 01:01] brandur-stripe commented on #214
Hey @mahirk, yeah this is a known limitation — stripe-mock is fairly dumb right now in that rather than encompassing the more sophisticated domain logic of Stripe's real API, all it does is bundle an OpenAPI specification to map out possible endpoints/parameters and a set of fixtures that represent a sample of what any of those endpoints might return.

It tries a few tricks by modifying the outgoi

[2020-02-20 01:39] mahirk commented on #214
Thanks @brandur-stripe! I'll close out this issue, I had tried to parse through fixtures in the open-api spec to see if there were any updates that could be made to that area. I noticed that the spec only returns back the default source when expanded, and also has a polymorphic schema for the `default_source`. Is there a way to force it to return the value for the `card`, as `default_source`, or w

[2020-02-20 14:12] leo-bao-prodigy commented on #213
Ah, I see
I'm assuming theres no plans in the near future to generate more "complete" return values then?

[2020-02-20 17:36] brandur-stripe commented on #213
Yes, sorry :/ I'd personally love to do this, but it basically boils down to a question of priorities/resources.

[2020-02-20 17:40] brandur-stripe commented on #214
Yeah, sorry, basically what it's doing in this case is just pulling in the source fixture and putting it into that `source` field without any notion as to what came in via parameter.

stripe-mock is most useful for verifying that endpoints and parameters sent to them are valid, and it tries to send back a valid looking response, but that response will be largely nonsense, and mostly invariant of t

[2020-02-20 19:20] mahirk commented on #214
Understood, thank you for the assistance @brandur-stripe!

[2020-02-20 19:20] #214 closed

[2020-02-20 20:08] leo-bao-prodigy commented on #213
No worries, thanks for taking the time to answer my questions!

[2020-02-20 20:08] #213 closed

[2020-02-26 18:53] vready333 commented on #212
Yes, this was tried using code after get on 2/12/2020. I could try again. My -version returns master (stripe-mock master)

[2020-02-26 19:01] vready333 commented on #212
I just did a get again today. Seems to be working now. No error and does send back a null. Thanks.

[2020-02-26 19:01] #212 closed

[2020-03-05 16:24] vready333 opened #217 "Null Metadata value causes error"
Passing a null value for metadata results in error but ok in live mode.
Since shipping attribute is optional also, tried that as well to make sure it works.
stripe-mock 0.82.0
Routing to 212 path(s) and 353 endpoint(s) with 353 validator(s)
Listening for HTTP at address: [::]:12111
Listening for HTTPS at address: [::]:12112
Request: POST /v1/customers

Please note "metadata:".

name:Optimus Prime

[2020-03-05 18:53] remi-stripe commented on #217
@vready333 Thanks a lot for the report! We usually discourage passing empty matadata hash on creation. Our openapi spec blocks this for Customer creation explicitly which is why stripe-mock blocks this at the moment. Our API is a bit more lenient on some endpoints to decrease the number of errors developers experience. But if you're using stripe-mock and hitting this error, the best approach would

[2020-03-05 20:01] vready333 commented on #217
Thanks. I had pointed out the same to the developer as a fix as this is how I got around it. Your response helps better.

[2020-03-05 20:01] #217 closed

[2020-03-06 02:31] ob-stripe commented on #217
@vready333 The latest version of stripe-mock (0.84.0) should now reflect the behavior of the API.

[2020-03-06 04:42] liemdo opened #219 "additional properties are not allowed: name"
Hi,

I get this error when running test but everything works fine on production:

`Request validation error: validator 0xc4209aa930 failed: additional properties are not allowed: name`

My code is quite simple:

[code]

[2020-03-06 06:33] ob-stripe commented on #219
@liemdo Are you using the latest version?

[2020-03-06 06:38] liemdo commented on #219
I'm using the latest docker image stripemock/stripe-mock (image id: c083294139fb)

[2020-03-06 23:56] brandur-stripe commented on #219
Can you try hitting the Docker image directly with cURL? Something like this:

[code]

If this doesn't work, can you take a look at the `Stripe-Mock-Version` header that comes back? My best guess is that you have an old version of stripe-mock running in a place you didn't expect and are hitting that instead of the Docker image.

[code]

[2020-03-17 17:13] DaleSeo opened #220 "Unsupported property: pay_immediately"
The `pay_immediately` property is not being accepted when creating subscriptions as follows.

[code]

I'd like to ask to add support for this parameter because it's required in order to have Avalara to calculate tax. Stripe support enables the `pay_immediately` option on account basis for Avalara integration. For more information, please refer to the following Avalara docs.

- https://help.avalara

[2020-03-17 17:19] remi-stripe commented on #220
@DaleSeo This feature is not public in the API today. It's only allowed for users relying on the Avalara integration. For that reason, it is not supported on stripe-mock, but it would work on your Stripe account if you have the feature enabled. If not, you would have to ask our support team to enable this for you: https://support.stripe.com/contact

[2020-03-17 17:19] #220 closed

[2020-04-26 13:14] jeans11 opened #225 "Bad status when update PaymentIntent"
Hi!

When a payment intent is updated with `payment_method` the status of the payment intent is still on `requires_payment_method`.

[code]

[2020-04-26 22:32] remi-stripe commented on #225
@jeans11 stripe-mock is not "stateful" and it won't return the exact state that the API would return in production. It's here to mock the API and return valid-looking JSON but it doesn't have much "business logic".

[2020-04-27 09:23] jeans11 commented on #225
Thanks @remi-stripe.

[2020-04-27 09:23] #225 closed

[2020-07-08 03:28] #219 closed

[2020-07-11 19:43] polybuildr commented on #107
This is indeed fixed now (at least in the version I get from `go get -u github.com/stripe/stripe-mock`, so this issue can probably be closed. :)

[2020-07-11 19:54] remi-stripe commented on #107
thanks for confirming!

[2020-07-11 19:54] #107 closed

[2020-07-20 04:03] DawidJanczak opened #231 "Validator failure on payment_method_data"
Hello,

We're trying to use stripe-mock in our integration tests (behind `mock-server`) and are running into the following:
[code]
on a `Request: POST /v1/payment_intents/pi_<snip>/confirm` endpoint. Originally I thought it's because of an outdated API, but we just upgraded and are still getting this error. We use the following method to confirm our payment intent (CoffeeScript):
[code]
as describ

[2020-07-20 04:44] remi-stripe commented on #231
@DawidJanczak Thanks for reaching out! This one is kind of on purpose as this call would be sending raw card details to our API which is something we strongly discourage for Security and PCI compliance reasons. So while it works in the API, it's not something we actively document today to ensure most integrations don't do this unless they have the right level of PCI compliance.

Since stripe-mock

[2020-07-20 05:51] DawidJanczak commented on #231
Thanks for the explanation @remi-stripe. This is a bit out of scope for this library I suppose, but I'd like to ask a follow-up question if that's OK. Given we have to fetch `stripe.js` from Stripe servers anyway (which makes our tests dependent on internet connection) do you think it would be OK to hit Stripe servers on this endpoint as well, using the fake card data? I would have thought it's in

[2020-07-20 06:24] remi-stripe commented on #231
That seems fine if you use our [test card numbers](https://stripe.com/docs/testing#cards) in Test mode though I'd still recommend just mocking that part of your integration to avoid relying on an internet connection for your automated test suite. But I don't see why it'd be an issue overall as long as you don't hammer the API too often during the test suite's runs (which we have rate limits agains

[2020-07-20 06:24] #231 closed

[2020-08-05 17:22] ethanrubio opened #234 "subscription creation missing plan in v0.95.0"
Creating a plan and attaching to a new subscription in v0.94.0 attaches a plan to the subscription response. However, in v0.95.0, creating a plan and attaching to a new subscription in v0.95.0 no longer has the plan information in it even though it is successfully created. I noticed the plan ids generated are completely different too from v0.94.0 to v0.95.0.

[code]

[code]

[2020-08-06 00:29] remi-stripe commented on #234
@ethanrubio Thanks for reaching out! The `plan` property top-level on `Subscription` has been considered deprecated for multiple years since we added support for multiple plans on a Subscription. The problem with `plan` top-level was that it only worked if you only ever had one plan, otherwise it was null. The idea is that you should instead look at `items.data[0].plan` instead.

Similarly, the `P

[2020-08-06 01:27] ethanrubio commented on #234
@remi-stripe ok makes sense. thanks for quick reply and the clarification!

[2020-08-06 01:27] #234 closed

[2020-08-10 14:06] mastacheata opened #235 "Account create (capabilities vs requested_capabilities)"
The Stripe API documentation describes a capabilities key that is supposed to contain a dictionary of capabilities which themselves are dictionaries with one boolean property called requested that is set to true if you want to request a capability.
The SDK examples all show a requested_capabilities list of strings instead.

The same is true for the openAPI spec3 vs spec3.sdk files.

Apparently the

[2020-08-10 16:43] remi-stripe commented on #235
@mastacheata passing `requested_capabilities: ['capab1', 'capab2']` is considered deprecated. This was the original shape and it's not something we recommend anymore. The new approach is passing `capabilities: {capab1: {requested: true}, capab2: {requested: false}}`.

When we deprecate features like this, the first step is to undocument them so that no new developers rely on them. While we do that

[2020-08-10 16:43] #235 closed

[2020-08-10 18:19] mastacheata commented on #235
My problem is actually this is still the way in which it's documented. If you check the API reference ALL example code from curl to python still uses requested capabilities.

Same for the openapi spec SDK files (I guess this is how you generate the right hand Side of the API reference).

I was completely unaware of this being deprecated. It's not listed on the API changelog and the API reference e

[2020-08-10 18:31] remi-stripe commented on #235
@mastacheata The API reference is definitely not correct and I'll get this fixed, sorry about that one.

We don't document changes like this directly since everything still just works. It would be documented in the future when we actively remove support for `requested_capabilities` in an API version. But when we make those changes we do our best to minimize the impact on existing integrations and

[2020-10-05 00:04] sanderpick opened #242 "Usage Records API rejects request timestamp and action"
Hey there, I'm using the Go driver [v72.10.0](https://github.com/stripe/stripe-go/releases/tag/v72.10.0) against `stripe-mock`:

[code]

Which results in the following error (shown from docker logs):

[code]

This error is not returned from the real API.

[2020-10-06 22:38] sanderpick commented on #242
Nvm, the request URL was malformed due to a missing param on my side. 🙈

[2020-10-06 22:38] #242 closed

[2020-10-13 15:27] filias opened #243 "Add support for `requested_capabilities` on create account endpoint POST /v1/accounts"
I have been using stripe-mock ('Stripe-Mock-Version': '0.99.0') for testing a python application and when I create an account (POST /v1/accounts), of type express, with the `requested_capabilities` parameter I have this error:

`self = <stripe.api_requestor.APIRequestor object at 0x7ffd4005eb80>
rbody = '{"error":{"message":"Request validation error: validator 0xc0006f72c0 failed: additional prope

[2020-10-13 16:07] remi-stripe commented on #243
@filias `requested_capabilities` is deprecated and discouraged. It was replaced by `capabilities` instead which is the new canonical way to control capabilities on Account: https://stripe.com/docs/api/accounts/create#create_account-capabilities

We recommend that you stop using `requested_capabilities` even though it still works it's undocumented and will be removed in the future.

[2020-10-13 16:07] #243 closed

[2020-10-13 16:21] filias commented on #243
@remi-stripe Thank you for your clarification. Definitely this part of the docs was very misleading https://stripe.com/docs/connect/express-accounts regarding `requested_capabilities`. Maybe something to improve.

Thanks again 👍

[2020-10-13 16:23] remi-stripe commented on #243
Nice catch for that doc, I'll work on a fix today!

[2020-10-15 17:20] jmarcoscosta2015 commented on #36
i'm having this issue now. Any updates yet?

[2020-10-15 19:02] remi-stripe commented on #36
@jmarcoscosta2015 unfortunately no update. This is a legacy API from when we could return different API Resources. This is a pattern that we do not have in newer APIs anymore and so we likely won't fix this on stripe-mock. We recommend using the newer APIs so `PaymentMethod` instead of `Card`. Unfortunately for ACH support it's still only on `BankAccount` but we are working on porting this to `Pay

[2020-12-01 03:21] lowlyocean commented on #19
Is there any update on statefulness? (localstripe)[https://github.com/adrienverge/localstripe] is stateful, but noticing when using it in E2E testing that returns 400 errors whenever stripe-python is used with an API parameter that isn't explicitly enumerated in localstripe. Seems a first-party mocking would be the most reliable way to run E2E tests for SaaS

[2020-12-01 03:38] remi-stripe commented on #19
@mikker No short term plans for a stateful stripe-mock for now unfortunately. We are working on the ability to playback requests though which should help with test suites! No timeline just yet but we're working on this!

[2020-12-01 13:03] mikker commented on #19
Thanks for the update, but I think you meant to at @lowlyocean ?

[2020-12-01 16:24] remi-stripe commented on #19
Ah yes, sorry for the mixup :(

[2020-12-02 04:17] lowlyocean commented on #19
@remi-stripe if I understand what's meant by playback requests, this would mean some initial responses to a series of requests (e.g. during full E2E run) would need to be recorded from a real Stripe server. Then in future E2E runs, these canned responses would be sent. Is this correct? if so it presents at least 3 challenges:

1. There's no way to do initial recording without a hitting a live serv

[2020-12-03 02:20] remi-stripe commented on #19
@lowlyocean This will be built within our Stripe CLI tool: https://stripe.com/docs/stripe-cli so that's how you would access this in CI/CD in that case.

I agree it might not fit all use-cases but between this and a real mock (not stripe-mock) it should cover most of what you need in that case.

[2020-12-03 09:43] driesvints commented on #19
@remi-stripe if you need a beta tester for it let me know. Our test suite for https://github.com/laravel/cashier-stripe is constantly failing now because of rate limiting and I'm desperately looking for solutions without having to result to creating multiple Stripe test keys for different parts of the test suite.

[2021-01-14 01:00] utako commented on #19
hi @remi-stripe , is this playback feature available yet? would love to also be a beta tester.

[2021-01-15 23:55] remi-stripe commented on #19
We're still working on it and it is at least a few weeks away from even a rough private beta. But I've flagged your interest to the engineers working on that feature!

[2021-02-02 04:57] devansh-dalal opened #247 "Regarding using mock stripe for e2e tests"
I am planning to use stripe-mock for local e2e testing in our app,

[code]

Now I do not want to manually make http call to stripe mock server(`localhost:`) with http client and request body, Is there a way to change something in `RequestOptions` or use a different dependency to make the call?

Basically, I don't want to do, something equivalent of

[code]

just somehow override the stripe base AP

[2021-02-02 05:15] remi-stripe commented on #247
@devansh-dalal Some of our client libraries support overriding the api base on a per request basis but stripe-java is unfortunately not one of those today. We would like to add the ability to do this on a per-request basis in the future but that will likely only happen once we ship a client/service infrastructure in the library like we did in stripe-php [here](https://github.com/stripe/stripe-php/

[2021-02-02 05:37] devansh-dalal commented on #247
`environment though as they should run on a different environments right?`

yes, in theory, but we also run e2e tests on prod as a final validation before promoting a new release.

ok, so, do you think you can recommend any other client library to make api calls with mock stripe. I don't feel comfortable manipulating raw http requests

[2021-02-02 05:40] remi-stripe commented on #247
@devansh-dalal I don't know of any other library to support this today unfortunately. Any kind of mock you put in place will require changing the `api_base` in stripe-java if you want your live environment to run those requests. I don't think I've seen a setup like this before either where you expect to mock production calls so I'm can't think of an alternative here beyond forking the library.

[2021-02-02 07:30] devansh-dalal commented on #247
thanks and no worries. @remi-stripe , do you think I should raise this issue in https://github.com/stripe/stripe-java? I am comfortable for this to be picked up in later stripe versions.

[2021-02-02 07:34] remi-stripe commented on #247
Sure that won't hurt though I know we won't ship this soon. At least not until we re-design the library to do client/services instead. It's on our roadmap but no firm timeline just yet.
I'm going to close the bug here since it's not really specific to stripe-mock and we can tag your other request on stripe-java as "future"!

[2021-02-02 07:34] #247 closed

[2021-02-03 15:17] devansh-dalal opened #248 "Configure webhooks in stripe-mock"
Is there a way to configure webhooks in stripe-mock local docker container environment?

[2021-02-04 07:13] remi-stripe commented on #248
@devansh-dalal Can you clarify what you mean by this exactly? What are you trying to do with stripe-mock that would need a webhook endpoint?

[2021-02-05 05:11] devansh-dalal commented on #248
So, we have some webhook endpoints configured in stripe dashboard,
In our test automations, we are using stripe-mock to test various workflows relating stripe APIs,
To test those endpoints of our backend with a local stripe docker which can trigger events just like stripe APIs is a great fit for our testing.

So, was wondering if its possible to configure webhooks in stripe-mock similar to stripe?

[2021-02-05 05:20] remi-stripe commented on #248
stripe-mock just mocks the API we have today. It can't mock your webhook endpoint since that would be your own code that reacts to our events. What you could do here is use the Stripe CLI for example to expose your local instance: https://stripe.com/docs/stripe-cli

Do you think that could help?

[2021-02-05 06:00] devansh-dalal commented on #248
Yes, makes sense. stripe-cli can help. Thanks @remi-stripe

[2021-02-05 06:00] #248 closed

[2021-03-02 01:16] rtu8lu opened #250 "Wrong content type in webhooks we send"
We use JSON in our webhooks, but we send them with the content type set as `application/x-www-form-urlencoded` instead of `application/json`.

[2021-03-02 01:17] #250 closed

[2021-03-02 01:19] rtu8lu commented on #250
Sorry, posted by accident. Please, delete it.

[2021-03-02 01:21] remi-stripe commented on #250
All good! Let us know if you still need help @rtu8lu but no harm done otherwise :)

[2021-03-04 21:08] bdtomlin commented on #187
@leoht, thanks for opening this. I'm running into the same issue. I have to temporarily skip some tests until this is resolved.

[2021-05-13 20:43] ifeLawal opened #251 "Is there a way to set stripe mock data to expand all by default?"
The call to the Stripe /v1/customers/<id> endpoint using the Stripe CLI seems to give expanded data by default, specifically in our use case for the `sources` object: https://stripe.com/docs/api/customers/object#customer_object-sources.

In our code we are using the `stripe.Customer.retrieve(user_stripe_token)` to make a call to the stripe-mock url and it does not come with the sources data. It ju

[2021-05-13 21:06] #251 closed

[2021-05-13 21:08] ifeLawal commented on #251
It turns out our the CLI was providing the expanded data because our version of Stripe was not the most up to date.

[2021-06-01 12:22] fredwu commented on #187
This issue still persists... ;( Anyone from Stripe who might be willing to take a look please? 🙏  cc @richardm-stripe @remi-stripe

[2021-06-01 15:26] remi-stripe commented on #187
Hey everyone! stripe-mock doesn't support every option our API does today and this is one of the features that it just rejects for now. We recommend really mocking the call in your code instead of using stripe-mock if that's the approach you're taking in your code.
Relatedly, we recommend creating a bank account token client-side with the IBAN element for this as documented [here](https://stripe.c

[2021-07-23 22:29] hiveship opened #262 "Question: use case"
Hello,

Not really an issue with the project but more a question about my use case.

We are integrating with Stripe using the Stripe Connect (we create an account and create payment intents + listen webhooks).

We need to perform end to end testing for load testing.
I am wondering how I can replace the Stripe for this kind of tests?
I would prefer to avoid calling the real Stripe API in a test mod

[2021-07-23 22:36] remi-stripe commented on #262
@hiveship stripe-mock only returns "fake data that looks mostly correct". So all URLs are random/ad-hoc and can't be loaded. We don't have a way to mock the API and get real URLs that you could load.
While it's a bit of a non-answer, you should skip load testing our Connect Onboarding flow since this runs fully on our server. We also don't have  away to unit test hosted flows like this one today b

[2021-07-23 23:02] hiveship commented on #262
@remi-stripe  Understood, thanks. My need is not to load test the Stripe part, as you said it's running on your server and we fully trust you on this topic.

Our system is processing a lot of payments and we need to load test our system when there is a lot of payment. That's why I want to be able to create a payment intent and then to get a webhook notification with the wanted state (succeedd, fai

[2021-07-23 23:05] remi-stripe commented on #262
You would use stripe-mock to mock the API request and then you'd save the payload of an event for example a `payment_intent.succeeded` event and send that event to your webhook handler on your end. We don't really have a way to load test this on your end automatically today unfortunately so you'd have to build this from scratch in your own test suite.

[2021-07-23 23:06] hiveship commented on #262
Very clear, thanks for your answers!
I think we can close this issue for now and I will open a new one if I needed further information when implementing it.

[2021-07-26 15:22] hiveship commented on #262
@remi-stripe I don't find documentation about this, but can you tell me if the stripe-mock backend also support webhooks?
My application is massively using the Stripe webhooks notifications.

[2021-07-26 15:24] remi-stripe commented on #262
@hiveship It does not support webhook today unfortunately. You'll have to build this logic yourself or you can use the Stripe CLI for this https://stripe.com/docs/cli

Please talk to our support team directly for help with your integration as Github issues are limited to bugs with the library itself. You can contact them on https://support.stripe.com/contact/email or directly in Discord: https://s

[2021-07-26 15:24] #262 closed

[2021-08-09 08:16] ocolot opened #263 "Invalid brew formulae"
$ brew install stripe/stripe-mock/stripe-mock
==> Tapping stripe/stripe-mock
Cloning into '/opt/homebrew/Library/Taps/stripe/homebrew-stripe-mock'...
remote: Enumerating objects: 442, done.
remote: Counting objects: 100% (24/24), done.
remote: Compressing objects: 100% (16/16), done.
remote: Total 442 (delta 7), reused 0 (delta 0), pack-reused 418
Receiving objects: 100% (442/442), 60.62 KiB | 569

[2021-08-10 17:45] richardm-stripe commented on #263
Hello @ocolot, thanks for the report. Unfortunately we haven't been able to reproduce it yet. There might be something unique to your environment at issue.

`brew doctor` might be able to help

Otherwise, would you be willing to try
[code]

or maybe
[code]
and pasting the output so we can have a little more information about the error you are seeing?

[2021-08-10 20:14] ocolot commented on #263
As requested, here are the result of the commands (note that it is a fresh macOS 11.3.1 install on a M1):

[code]

[code]

[code]

Do you get any clue from this?

[2021-08-11 09:27] thrau commented on #19
Any update on the progress of this feature? Would be immensely helpful for our test suite.

[2021-09-03 12:00] ekvedaras commented on #263
Seems like they don't have arm64 build yet

[2021-09-24 08:19] AdrienBr commented on #19
Also interested here with statefulness ! It would be a great feature for our automated tests.

[2021-11-18 19:31] richardm-stripe commented on #206
This was shipped in #265

[2021-11-18 19:31] #206 closed

[2021-12-01 08:07] austin-tk opened #281 "Build for arm64 and publish multi-arch docker image to dockerhub"
This is useful when developing on Apple silicon as docker needs arm64 images.

This seems easy to augment following the example here https://goreleaser.com/customization/docker_manifest/?h=docker+mani#example-config

[2021-12-02 06:01] austin-tk commented on #263
Somewhat related to #281 as it is seemingly very easy to build native arm binaries here. Ideally we should build those and update the brew formula to dynamically pull either the ARM or x86_64 version of the binary

[2021-12-12 23:13] omnilord opened #282 "lestrrat-go is changing "master" branches to "main""
I have a funny suspicion that this is upstream in one of the lestrrat-go packages (since I cannot find "option" in stripe-mock), but @lestrrat-go has changed "master" to "main" on several of their packages and it breaks setting up stripe-mock.

Is there anything we can do when running `go get -u github.com/stripe/stripe-mock` that will make sure to checkout main instead of master for these reposit

[2021-12-14 16:53] richardm-stripe commented on #282
Hello @omnilord, what `go version` are you using? I'm seeing slightly different behavior on my environment.

[2021-12-15 03:17] omnilord commented on #282
@richardm-stripe
[code]

[2022-01-28 03:19] supermarin commented on #11
It seems like this was done in #265 .
Related issue: #206

@richardm-stripe is there a chance you could add some docs on how to use this?

[2022-01-28 03:35] supermarin commented on #11
Looks like this comment is still relevant and it works:
https://github.com/stripe/stripe-mock/pull/238#issuecomment-876041944

[2022-03-01 19:11] #263 closed

[2022-03-08 22:54] Lzok opened #286 "Docker Compose exit code 143"
Hello, how are you?

I wanted to ask if this is ok or if it's some problem with the stripe-mock docker image. I'm running some tests on my api, they ran ok and exit ok with code 0 but the stripe-mock container is exiting with code 143.

The portion of my docker-compose:
[code]

I'm running my suite like this: `docker compose -f docker-compose-test.yml up --exit-code-from backend`

<img width="319"

[2022-03-09 00:47] richardm-stripe commented on #286
Hi Lzok!

I don't think this indicates a problem. I don't think the 143 exit code would originate from the stripe-mock process itself -- it is not a standard exit code and from internet search results it seems that 143 is a docker-specific exit code that means "the operating system asked the container to terminate gracefully (SIGTERM) and the container succeeded in terminating gracefully".

This i

[2022-03-09 00:47] #286 closed

[2022-03-10 17:51] edalzell commented on #19
@remi-stripe are there any good examples of this?

[2022-03-28 20:11] kxhitiz opened #289 "Support subscription discount removal"
Looks like currently it does not support the endpoint for deleting discount from subscription
[https://stripe.com/docs/api/discounts/subscription_delete](https://stripe.com/docs/api/discounts/subscription_delete)

[code]

Instead, the request is matched to cancel the subscription. Hence stripe-mock tries to cancel subscription instead of deleting discount.
Would be a nice addition to support this

[2022-03-28 21:07] nickmisasi opened #290 "Release 0.120.0 appears to be broken"
When attempting to install 0.120.0 I receive the following error:

[code]

First surfaced on CircleCI in an alpine linux container.
Can also reproduce on my local machine in existing and blank Go projects.

[2022-03-28 21:14] nickmisasi commented on #290
Pinning the version to `github.com/stripe/stripe-mock v0.119.0` for now gets around the issue.

[2022-03-28 21:25] #290 closed

[2022-03-28 21:32] pakrym-stripe commented on #290
Sorry for the inconvenience.  The issue should be fixed now.

[2022-03-28 21:54] nickmisasi commented on #290
@pakrym-stripe thanks for the quick fix!

[2022-04-02 15:26] bobbyangers opened #294 "DockerImage : lastest is too old"
Your version of stripe-mock (0.110.0) is too old. The minimum version to run this test suite is 0.119.0. Please see its repository for upgrade

[2022-05-10 17:52] alko89 opened #299 "Readme for docker is outdated"
As per discussion in https://github.com/stripe/stripe-node/issues/1416 it seems the readme for docker is for an obsolete image, should be `stripe/stripe-mock`.

https://github.com/stripe/stripe-mock#docker

[2022-05-10 17:55] alko89 commented on #294
Use `stripe/stripe-mock`

[2022-05-10 17:55] #299 closed

[2022-05-10 17:55] dcr-stripe commented on #299
Thanks for the report - great catch! Just merged in a fix.

[2022-05-16 06:57] shadab14meb346 opened #303 "A newly created checkout session status is coming as "expired""
When I am creating a checkout session it's returning a checkout.session object but the status is "expired" ideally it should be "open

https://user-images.githubusercontent.com/31199288/168536288-6b92bf93-7b63-4e93-99fa-c11a3ca4b02b.mp4

"

[2022-05-16 12:17] Kryniol commented on #303
Same here, also the checkout URL is empty. Would it be possible to always return an active checkout session from the mocked API?

[2022-05-19 08:01] alko89 opened #305 "Return mock of complex objects"
I've been using stripe-mock in my tests and its working great for getting basic mocked data, however it fails short when I want to test my code with more complex ones.

For example, retrieving a metered price or a subscription item with price tiers will return an empty array. Is it possible to modify this behavior? A good option would be to be able to create these prices on the mock server so they

[2022-05-26 07:05] okapies commented on #294
Googling *"stripe-mock docker"* leads me to `stripemock/stripe-mock` instead of `stripe/stripe-mock`. I think you should takedown the old repository from Docker Hub.

[2022-05-26 09:21] BlueHatbRit opened #312 "Response content-type should be application/json rather than text/plain"
Hi, thanks for providing this mock project it's mega useful!

I found that when making an api request to the real stripe api, it responds with `application/json` as the respone content type, stripe-mock seems to respond with `text/plain` for everything which I don't think is correct.

Live API example:

[code]

Mock example:

[code]

While the responses do differ slightly due to the mocks implemen

[2022-05-26 12:55] dcr-stripe commented on #312
Thanks for the report @BlueHatbRit ! You're right that this is inconsistent with our main API. I've sent out https://github.com/stripe/stripe-mock/issues/312 to address this.

[2022-05-26 13:39] BlueHatbRit commented on #312
Thanks for the quick feedback and turn around on this @dcr-stripe it's much appreciated it!

[2022-05-26 15:41] #312 closed

[2022-05-27 01:35] okapies opened #315 "The response from `/v1/invoices/:id/finalize` is wrong"
The [document](https://stripe.com/docs/api/invoices/finalize) for `/v1/invoices/:id/finalize` API says *"Returns an invoice object with `status=open`"* but stripe-mock always return it with `status=draft`.

[code]

[2022-05-27 15:00] remi-stripe commented on #315
@okapies stripe-mock doesn't really have logic to mimic the API behaviour so this is an expected limitation. It's here to help you mock our API and getting a JSON response for the right resource.

Returning the right `status` might not seem too hard, but there's a lot more complexity than this in our API that we'd need to encode inside stripe-mock and keep up to date with changes (which would also

[2022-05-27 15:00] #315 closed

[2022-05-31 09:15] okapies opened #316 "Add an ability to register user-defined responses with idempotency_key"
According to [this post](https://github.com/stripe/stripe-mock/issues/315#issuecomment-1139700416), stripe-mock is not able to return responses meeting the specifications. One idea is that stripe-mock could provide an additional API that can register user-defined responses with [`Idempotency-Key`](https://stripe.com/docs/api/idempotent_requests) in advance, and returns it later for testing. What d

[2022-06-09 07:47] ChristianSch opened #328 "checkout session has no URL"
When creating a checkout session, it's not only not active, it doesn't have a URL:

[code]

See also https://github.com/stripe/stripe-mock/issues/303

[2022-06-09 16:42] pakrym-stripe commented on #328
Hi, thank you for filing the issue. It does look like a bug we flagged it internally and are going to look into it.

[2022-06-23 09:34] gabkk opened #333 "Subscription create should send back the same amount of subscription item as the number of items"
# Background

1. Doing testing with the library and creating multiples items in a subscription but it's impossible to test as the number of subscription items that we are getting back is not the same as the number of item sent.

2. the price ID in the subscription item doesn't match the items send when creating a subscription

# Problem

Subscription returned

[code]

Subscription items

[code]

I

[2022-07-03 02:29] aherreDev opened #334 "Create checkout sessions needs an optional parameter"
Hi, I'm trying to use `stripe-mock` for the first time, but I'm getting some errors while creating a check session.
## Case 1 -- `payment_method_types` required
When creating a checkout session, I get an error if I don't send the optional parameter `payment_method_types`
[code]

Response
[code]

## Case 2 -- `allow_promotion_codes` not allowed
When creating a checkout session with the `payment_met

[2022-07-05 22:34] pakrym-stripe commented on #334
Hi @aherreDev, can you confirm you are on the latest version of stripe mock?

I tried both of you samples on latest and both return successful responses.

[2022-07-06 05:13] aherreDev commented on #334
Hi @pakrym-stripe ,
You are right, I had a wrong stripe-mock installation, thanks for the quick response!!

[2022-07-06 05:13] #334 closed

[2022-07-19 22:44] shaun-wild commented on #328
This is currently affecting me as well.

[2022-07-19 22:57] shaun-wild opened #342 "Can we specify what data is on a checkout session retrieval?"
I'm sure there are many other scenarios like this.

If I call `Session.retrieve(sessionID)`, `subscription` is null (If using the stripe-mock endpoint), which means I cannot test that the correct values are being returned from my endpoint.

Is it possible to configure whether a subscription will be returned or not etc?

[2022-07-20 00:02] remi-stripe commented on #342
Unfortunately this is not something we support today and stripe-mock just gives one example response based on a hardcoded fixture so you can't override any of the properties in the response. Our recommendation would be to do your own mock in that case with your own local fixture instead.

[2022-07-20 21:22] shaun-wild commented on #342
Okay, thanks for the clarification!

[2022-07-20 21:22] #342 closed

[2022-07-26 14:07] nbensalha opened #346 "Payment link creation not currently mocked ?"
Hi,

While trying to use the Stripe PHP SDK and make calls to a Docker Stripe Mock server hosted locally, I get the following error:

`Stripe\Exception\InvalidRequestException: Unrecognized request URL (POST: /v1/payment_links)`

Questions: is there something I am doing wrong or is it just that this endpoint hasn't been implemented yet ? If so, are there any plans to roll it out ?

Thanks

[2022-07-26 15:46] remi-stripe commented on #346
@nbensalha You likely have an old version of stripe-mock on your end from before the PaymentLinks API was built/shipped. I'd recommend making sure you upgrade to the latest version of stripe-mock 0.140.0

[2022-07-26 16:59] nbensalha commented on #346
thanks @remi-stripe , we were indeed still using the older version, we updated to the newest one and it works fine now :+1:

[2022-07-26 16:59] #346 closed

[2022-08-22 13:03] 1nir1 opened #354 "Cardholder replacment because of `cardholder_reassigned` reason"
Hi,
We are trying to test cardholder replacement using stripe-mock.
We send a card id as replacement-for value, and `cardholder_reassigned` as replacment_reason value, and we receive the following error:
`Request validation error: validator 0xc00172a810 failed: object property 'type' validation failed: value is not in enumeration
Response: elapsed=2.034333ms status=400`
But when checking this flow

[2022-08-22 17:39] remi-stripe commented on #354
@1nir1 stripe-mock only supports officially released APIs and related parameters/properties. The feature you are using is currently in private beta and only available to a few accounts so it is not in stripe-mock. You'll need to work around stripe-mock in that case and mock your own code yourself.

[2022-08-22 17:39] #354 closed

[2022-08-23 07:09] 1nir1 commented on #354
@remi-stripe, thank you for the quick response

[2022-09-07 20:45] #294 closed

[2022-09-21 22:12] alextween commented on #19
Reupping this issue: Stripe Mock statefulness would be great.  An answer [to @edalzell 's question](https://github.com/stripe/stripe-mock/issues/19#issuecomment-1064334939) would be great too.

[2022-09-21 23:34] tristanoneil commented on #19
I was doing some sleuthing because I'm also _very_ interested in what's next for Stripe testing and I found https://github.com/stripe/stripe-cli/pull/537 and then more recently https://github.com/stripe/stripe-cli/pull/925. It seems like as @remi-stripe mentioned something is in the works for supporting Stripe request playback.

[2022-10-13 14:56] dabit commented on #328
+1

[2022-10-17 13:36] doulwyi commented on #328
+1

[2022-10-21 17:11] CharlyPoppins opened #366 "Is this up to date with Stripe API ?"
Hello,

I'm having this message when trying to create a payment intent :
```Got unexpected keys in options array: amount, currency, payment_method_types, application_fee_amount, description, transfer_data, metadata, payment_method, confirm"}```

This statement seems wrong according to the API : `https://stripe.com/docs/api/payment_intents/create`

Also it's working with Stripe API

[2022-10-21 17:16] remi-stripe commented on #366
stripe-mock is up to date with our API yes. The error message looks like you're passing parameters in the wrong hash/array in your code and they act as options. Can you share some exact code to reproduce what you're experiencing?

[2022-10-21 19:25] CharlyPoppins commented on #366
@remi-stripe you're right, I'm trying to mock https://github.com/stripe/stripe-php and I'm doing something wrong.

I had mixed up `Stripe\HttpClient\ClientInterface` and `Stripe\StripeClientInterface`, thanks to your comment it now obvious :)

[code]

I'll keep on investigating with `Stripe\ApiRequestor`

[2022-10-21 20:13] CharlyPoppins commented on #366
I was looking too far...

[code]

[2022-10-21 21:26] remi-stripe commented on #366
Gotcha, glad you figured it out! I'm closing as resolved but let me know if you need help with anything else!

[2022-10-21 21:26] #366 closed

[2022-11-02 18:29] boatcoder opened #369 "Support sending webhooks"
We react to a lot of webhooks that are generated by making API calls.  Checkout => Checkout Complete => Invoice Paid. Webhooks appear to be completely ignored and yet we get MOST of our data from them.

[2022-11-02 18:38] kamil-stripe commented on #369
Hi @boatcoder! Thank you for your report. `stripe-mock` is designed to support API calls only. To simulate a webhook event, we recommend using Stripe CLI and `stripe trigger` command. You can read more at https://stripe.com/docs/webhooks/test#webhook-test-cli. Feel free to reach out in case of any questions.

[2022-11-02 18:38] #369 closed

[2022-11-09 09:08] arlyon opened #371 "Checkout session missing the `created` key"
Hello

I noticed one of our tests in arlyon/async-stirpe started failing recently, as stripe-mock doesn't return the `created` key as expected in checkout sessions. This was added as a non-optional field in v206.

See here:

https://github.com/stripe/openapi/commit/7450237cc1dee0f3578456b7e12dc374e1b77921#diff-eb42f9b1394184cdc66c6edf3cdba135114b3279ee6ea981fe7b5eb7fd6e50b4R4022-R4026

[2022-11-09 15:52] remi-stripe commented on #371
@arlyon Thanks for the report! We'll look into fixing this!

[2022-11-10 23:21] pakrym-stripe commented on #371
@arlyon thank you for the report. We've released an updated version of stripe-mock (0.145.0) and I've confirmed that `created` property is returned.

[code]

[2022-11-10 23:21] #371 closed

[2022-11-10 23:21] arlyon commented on #371
Amazing, cheers for the quick turnaround! :)